<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>introduction</title>
    <link rel="stylesheet" type="text/css" href="static/style/style.css">
</head>
<body>
    <header class="header">
        <div class="header-info">
            <ul class="header-list">
            <li><a href="/" class="about-me">обо мне</a></li>
            
            <li><a href="/projects/0">проекты</a></li>
            </ul>
        </div>
    </header>

    <main class="main">
        <h1 class="h">ОБО МНЕ</h1>
        <div class="ico">
            <img src="static/images/ico.jpg">
        </div>
        <p class="information">
            Меня зовут Ройтенберг Даниил Максимович. Мне 16 лет. Родился в Грузии, потом переехал в Калугу, сейчас живу в Москве. Изучаю программирование уже 4 года. Изучаю web уже пол года. 
        </p>
    </main>
</body>
</html>